body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

section#container {
    justify-content: space-evenly;
}

.container {
    width: 100%;
}

#pseudo-container {
    padding: 20px;
}

#pseudo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

#container {
    display: none;
}

#acceleration-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

/* Map Container */
#map {
    height: 600px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Form Styling */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Acceleration Section */
#acceleration,
#rotation {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100px;
}

#acceleration p,
#rotation p {
    margin: 8px 0;
    font-size: 16px;
}

#user-list-container {
    padding: 15px;
}

.user-item {
    margin-bottom: 15px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.message-button,
.call-button {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.message-button:hover,
.call-button:hover {
    background: #0056b3;
}

#conversation-container {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.button-container {
    display: flex;
    gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #map {
        height: 400px;
    }

    form {
        padding: 15px;
    }

    section#container {
        flex-direction: column;
    }
}